<p>
  admin works!
</p>
<div>
  <button class="btn">    
     <a class="btn"  routerLink = "/personalities/dynamic-list/Student"  routerLinkActivate="active">תלמידים</a> 
  </button>
  <button class="btn">   
      <a class="btn"  routerLink = "/personalities/dynamic-list/Lender"  routerLinkActivate="active">מלווים</a> 
  </button>
  <button class="btn">     
     <a class="btn"  routerLink = "/personalities/dynamic-list/Transportation"  routerLinkActivate="active">הסעות</a> 
  </button>
  <button class="btn">  
        <a class="btn"  routerLink = "/personalities/dynamic-list/Driver"  routerLinkActivate="active">נהגים</a> 
  </button>
  <button class="btn">
      <a class="btn"  routerLink = "/personalities/dynamic-list/Admin"  routerLinkActivate="active">מנהלים</a> 
  </button>
</div>


