<p>navigate-maps works!</p>
 <!-- <agm-map [latitude]='-28.68352' [longitude]='-147.20785' 
[mapTypeId]='satellite'>
</agm-map>  -->
<div class="container">
    <h1>Angular 2 + Google Maps Places Autocomplete</h1>
    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
