<!-- <p>calendar works!</p>
<mbsc-form input-style="box" label-style="stacked">
    <div class="mbsc-grid mbsc-form-grid">
        <div class="mbsc-row">
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <mbsc-calendar [(ngModel)]="mobile" [options]="mobileSettings">Mobile</mbsc-calendar>
            </div>
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <mbsc-calendar [(ngModel)]="desktop" [options]="desktopSettings">Desktop</mbsc-calendar>
            </div>
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <mbsc-calendar [(ngModel)]="header" [options]="headerSettings">Header text</mbsc-calendar>
            </div>
        </div>
    </div>
</mbsc-form>
<div class="mbsc-grid">
    <div class="mbsc-row">
        <div class="mbsc-col-sm-12 mbsc-col-md-6">
            <label for="demo-app-date-non-form">Date</label>
            <input id="demo-app-date-non-form" [(ngModel)]="nonForm" mbsc-calendar [mbsc-options]="nonFormSettings" class="demo-non-form" />
        </div>
        <div class="mbsc-col-sm-12 mbsc-col-md-6">
            <div class="mbsc-row mbsc-align-items-end">
                <div class="mbsc-col-9">
                    <label for="demo-app-date-external">Show on button click only</label>
                    <input id="demo-app-date-external" [(ngModel)]="external" mbsc-calendar [mbsc-options]="externalSettings" #externalDate="mobiscroll" class="demo-non-form" />
                </div>
                <div class="mbsc-col-3 external-container">
                    <button (click)="externalDate.instance.show()" class="external-button">Show</button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
   -->