<form class="center">
<div class="form-group">
  <div >הכנס קוד הסעה</div> 
   <input type="number" name = "transportation_code"/>
    <br/>    
<button class="btn"  (click) = "startJourney()">
        <a class="btn"  routerLink = ""  routerLinkActivate="active">התחל נסיעה</a> 
</button>
<br/>
<button class="btn"  (click) = "checkCodeTransportation()">נוכחות תלמידים
 <!-- <a class="btn"  routerLink = "/lender/presence"  routerLinkActivate="active">נוכחות תלמידים</a>  -->
</button>
</div>
</form>

